{% extends "splash/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'splash/css/home.css' %}" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'splash/js/home.js' %}"></script>
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-4 text-center" style="margin-top: auto; margin-bottom: auto;">
        <i class="fab fa-facebook-f fa-2x"></i>
        <i class="fab fa-twitter fa-2x"></i>
        <i class="fab fa-pinterest fa-2x"></i>
        <i class="fab fa-instagram fa-2x"></i>
    </div>
    <div class="col-sm-4 text-center">
        <img class="img-responsive" src="{% static 'splash/images/logo.png' %}" alt="logo" />
    </div>
    <div class="col-sm-4 text-center" style="margin-top: auto; margin-bottom: auto;">
        <a href="{{ logout_url }}" class="btn btn-artcaffee" role="button">LOG OUT</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
        <div class="text-center">
            <h3>Feed back</h3>
        </div>
        <form id="feedback_form">
            <p>How do you rate the service you recieved?</p>
            <div class="form-group rating">
                <label>
                    <input type="radio" name="service" value="1" checked />
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="service" value="2" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="service" value="3" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="service" value="4" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="service" value="5" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
            </div>
            <p>How good was the food that you ordered?</p>
            <div class="form-group rating">
                <label>
                    <input type="radio" name="food" value="1" checked />
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="food" value="2" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="food" value="3" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="food" value="4" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="food" value="5" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
            </div>
            <p>How good was the atmosphere at the location you visited?</p>
            <div class="form-group rating">
                <label>
                    <input type="radio" name="atmosphere " value="1" checked />
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="atmosphere " value="2" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="atmosphere" value="3" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="atmosphere" value="4" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="atmosphere" value="5" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
            </div>
            <div class="form-group">
                <label id="comment">What more can we do to improve your next experience?</label>
                <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-artcaffee">Submit</button>
            </div>
        </form>
        <div class="modal" tabindex="-1" role="dialog" id="feedback_modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="margin: 0 auto;">
                        <h3 class="modal-title">Thank you</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="margin: 0 auto;">
                        <p>We have received your message and would like to thank you for writing to us.</p>
                    </div>
                    <div class="modal-footer" style="margin: 0 auto;">
                        <button type="button" class="btn btn-artcaffee" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">

    </div>
</div>
{% endblock %}