{% extends "splash/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'splash/css/index.css' %}" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'splash/js/index.js' %}"></script>
{% endblock %}

{% block title %}Art Caffe{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-5">

    </div>
    <div class="col-sm-3" id="login_div">
        <form id="login_form" action="{% url 'splash:index' %}" method="post">{% csrf_token %}
            <input type="hidden" id="continue_url" name="success_url" value="{{ continue_url }}">
            <div class="text-center">
                <img class="img-responsive" src="{% static 'splash/images/logo.png' %}" alt="logo" />
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-artcaffee">Log in</button>
            </div>
            <div class="form-group text-center">
                <a id="login_link" href="{% url 'splash:register' %}">Register to sign in.</a>
            </div>
            <div class="form-group text-center">
                <a id="login_link" href="{% url 'splash:payment' %}">Pay to enjoy premium service.</a>
            </div>
        </form>
    </div>
    <div class="col-sm-4">

    </div>
</div>
{% endblock %}